* {
  margin: 0;
  padding: 0;
}

body {
  padding: 60px 200px;
}

.logo-brand {
  display: flex;
  gap: 10px;
}

.navbar-brand {
  color: #202020;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sign-in-btn {
  display: flex;
  padding: 16px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FDFBFA;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  background: #202020;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  padding-right: 40px;
  border-radius: 10px;
  border: 1px solid #808080;
  opacity: 0.75;
  background: #FFF;
}

.search-btn {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.cart-btn {
  margin: 0 20px;
}