.dish-create-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dish-create-modal .modal-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 90%;
  position: relative;
  overflow: hidden;
  animation: slideIn 0.5s ease forwards;
}

.dish-create-modal .close-button  {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333333;
  background-color: transparent;
  border: none;
  transition: color 0.3s ease;
  width: fit-content;
}

.dish-create-modal .close-button:hover {
  color: #000;
  transition: 0.3s;
}

.dish-create-modal .dish-create-form {
  display: flex;
  flex-direction: column;
}

.dish-create-modal h2 {
  margin-bottom: 20px;
  text-align: center;
}

.dish-create-modal label {
  display: block;
  margin-bottom: 10px;
}

.dish-create-modal input,
.dish-create-modal select,
.dish-create-modal button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.dish-create-modal button {
  background-color: #f4a15e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dish-create-modal button:hover {
  background-color: #fc8019;
}
.dish-create-modal button[type="button"] {
  margin: 30px 0 5px 0;
  width: 100%;
}
