.cart {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: all 0.3s ease;
}

.cart:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.cart-heading,
.cart-items-number,
.cart-item-category,
.category-name,
.cart-item-name,
.cart-item-price,
.selected-quantity,
.subtotal,
.extra-charges,
.total-price {
  font-family: Poppins;
}

.category-name {
  color: #fc8019 !important;
}

.cart-heading {
  color: #202020;
  font-size: 24px;
  font-weight: 500;
}

.cart-items-number {
  color: #202020;
  font-size: 16px;
  font-weight: 500;
}

.cart-item-category,
.category-name {
  color: #202020;
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.cart-item-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}

.cart-item-name {
  color: #202020;
  font-size: 16px;
  font-weight: 500;
}

.cart-item-price {
  color: #808080;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.selected-quantity {
  color: #404040;
  font-size: 20px;
}

.quantity-selector-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#minus-btn {
  transform: translateY(-100%);
}

#plus-btn {
  transform: translateY(15%);
}

.remove-from-cart-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.trash-icon {
  width: 25px;
  height: 25px;
}

.checkout-button {
  display: flex;
  width: 365px;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fc8019;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.checkout-button.disabled {
  background: #ccc;
  color: #666;
  cursor: not-allowed;
}

.cart-subtotal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.cart-subtotal {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subtotal {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}

.extra-charges {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}

.total-price {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}

.address-input {
  margin: 30px 0;
  align-items: center;
}

.address-field {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  transition: border-color 0.3s ease;
}

.address-field:focus {
  border-color: #4caf50;
}
