.restaurant-page {
  position: relative;
}

.restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #202020;
  position: relative;
}

.restaurant-image img {
  width: 350px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.restaurant-name {
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.restaurant-keywords {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.offers {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 20px;
  border: 2px dashed #fc8019;
}

.offers p {
  color: #fc8019;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dish-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2rem;
}

.dish-search {
  display: flex;
}

.dish-input {
  display: flex;
  width: 400px;
  padding: 15px 25px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.dish-input::placeholder {
  color: #808080;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search-container {
  position: relative;
}

.dish-search-button {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.favourite {
  display: flex;
  width: 150px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}

.favourite p {
  color: #404040;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.restaurant-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories {
  display: flex;
  flex-direction: column;
}

.category-button {
  margin: 15px 0;
  cursor: pointer;
  color: #404040;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: transparent;
}

.category-button.active {
  color: #fc8019;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: transparent;
}

.food {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 60px;
}

.foodName {
  color: #202020;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.foodPrice {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0;
}

.foodDescription {
  color: #808080;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.food-image {
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  border-radius: 10px;
  object-fit: cover;
}

.cart {
  color: #202020;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.checkout-button {
  display: flex;
  width: 365px;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fc8019;
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.add-button {
  position: relative;
  display: inline-flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  color: #1ac84b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
}

.vertical-line {
  width: 0px;
  height: 500px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #808080;
}
